/* reset */
* {
  margin: 0;
  padding: 0;
  transition: all 0.2s ease;
  box-sizing: border-box;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 4px;
  content: "";
  height: 15px;
  width: 15px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(18px) translateY(-50%);
  -ms-transform: translateX(18px) translateY(-50%);
  transform: translateX(18px) translateY(-50%);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
  border-radius: 10px;
}

.container {
  width: 350px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  color: #000;
}
.container.dark {
  background-color: #3b3a3f;
  color: #fff;
}

.container .box {
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 5px;
}

.box-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #46468f;
  color: #fff;
  background-color: #2196f3;
}

.container.dark .box-header {
  border-bottom: 1px solid #444448;
  background-color: #363637;
}

.box-header .name {
  font-weight: 700;
  font-size: 20px;
}

button.button {
  height: 100%;
  width: 100%;
  cursor: pointer;
  background-color: transparent;
  color: #2196f3;
  border: none;
}

img.icon {
  height: 50%;
  object-fit: cover;
}

.box p {
  font-size: 14px;
  width: 100%;
  margin: 10px 0;
  text-align: center;
}

.footer {
  padding: 10px;
  background: #eee;
}

.container.dark .footer {
  background-color: #383434;
}

.footer .flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.flex button {
  aspect-ratio: 1/1;
  height: 25px;
  border-radius: 5px;
  color: #fff;
  border: none;
  cursor: pointer;
  background: #2196f3;
}

.grid {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  color: #aaa;
  gap: 7px;
}

.color-box {
  width: 100%;
  aspect-ratio: 1/1;
  height: 100%;
  display: block;
  border-radius: 50%;
  border: 1px solid #fff;
  cursor: pointer;
}

.color-box:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
